body{
    background-color:black;
    color:white;
    font-family: sans-serif;
}

.user-form{
    background-color:white;
    color:black;
    padding: 100px;
    height:400px;
    width:400px;
}

#btn-container{
    padding:20px;
    display:flex;
    gap: 30px;
}
button{
    border:2px solid black;
    border-radius: 5px ;
}

form{
    border-radius: 5px;
    padding: 20px 150px 20px 150px;
}
/*table container*/
.users{
    padding:100px;
    background-color: white;
    color:black;
}

/*styling the table*/
#userInfo{
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    width: 300px; 
}
table, th , td{
    border: 1px solid black;
    vertical-align: middle;
}

table,td{
    padding:10px;
}

.clickable {
    pointer-events: auto;
    cursor: pointer;
}

