.user-form{
    background-color: pink;
    padding: 100px;
    height:400px;
    width:400px;
}

#btn-container{
    padding:20px;
    display:flex;
    gap: 30px;
}
button{
    border:2px solid black;
    border-radius: 5px ;
}

form{
    background-color: grey;
    border-radius: 5px;
    padding: 20px 150px 20px 150px;
}