body{
    background-color:black;
    color:white;
    font-family: sans-serif;
}


/*add and edit pages*/
.user-form {
    background-color:white;
    color:black;
    /*padding  top  right bottom left*/
    padding: 100px 200px 150px 200px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    align-items: center;
    justify-content: center;

}
input{
    border: 2px solid black;
}

.main-form{
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 100px 200px 150px 200px;
    
}
form{
    border-radius: 5px;
    padding: 20px 150px 20px 150px;
}

#btn-container{
    position:absolute;
    padding:20px;
    display:flex;
    gap: 30px;
    bottom:20px;
    left:300px;
    transform: translate(-50%);
}

/*style all buttons*/
button{  
    border:2px solid black;
    border-radius: 5px ;
    cursor: pointer;
}

/*style the index.html page*/
.users{
    color: white;
}








